.recipe-card {
  background: #8bfb8b;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 260px;
  box-shadow: 0 2px 8px #eee;
  img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  .info {
    display: flex;
    align-items: center;
    color: #555;
    font-size: 14px;
    span {
      margin-right: 12px;
    }
  }
} 