.recipes-grid {
  margin: 2rem 0;

  &__header {
    display: flex;
    justify-content: center;  // Căn giữa các phần tử
    align-items: center;
    gap: 1rem;  // Khoảng cách giữa các phần tử trong header
  }

  &__desc {
    color: #888;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.6;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
  }

  .view-all {
    color: #2e7d32;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #1b5e20;
    }
  }
}
